---
title: "Projects"
layout: splash
permalink: /projects/
header:
  overlay_color: "#000"
  overlay_filter: "0"
  <!-- overlay_image: https://images.unsplash.com/photo-1535868463750-c78d9543614f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60 -->
  alt: "Blue hexagons"
  cta_label: "Projects"
  #caption: "Caption could go here"
excerpt: "A fairly incomplete list of projects I've completed related to math/statistics/programming. Many (most) of these are still works in progress."
feature_row1:
  - image_path: /assets/images/masthead1.jpg
    alt: "A knockoff copy of Disney's Ratatouille"
    title: "Project"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url: https://en.wikipedia.org/wiki/YouTube
    btn_class: "btn--info"

  - image_path: /assets/images/masthead1.jpg
    alt: "A board game with pieces and a die"
    title: "Project"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
    url: https://en.wikipedia.org/wiki/YouTube
    btn_class: "btn--info"

  - image_path: /assets/images/masthead1.jpg
    alt: "A multimodal 2 dimensional distribution"
    title: "Project"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url: https://en.wikipedia.org/wiki/YouTube
    btn_class: "btn--info"

feature_row2:
  - image_path: /assets/images/masthead1.jpg
    alt: "Young children working at school"
    title: "Project"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
    url: https://en.wikipedia.org/wiki/YouTube
    btn_class: "btn--info"

  - image_path: /assets/images/masthead1.jpg
    alt: "Dallas, TX Downtown"
    title: "Project"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
    url: https://en.wikipedia.org/wiki/YouTube
    btn_class: "btn--info"

  - image_path: /assets/images/masthead1.jpg
    alt: "Stacked Boxes"
    title: "Project"
    excerpt: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url: https://en.wikipedia.org/wiki/YouTube
    btn_class: "btn--info"
---
{% include feature_row id="feature_row1" %}
{% include feature_row id="feature_row2" %}

